@model FitnessTracker.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Fitness Tracker</h1>

    <hr />

    @if (Model.Goal == null)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>You currently have no goal set. Would you like to make one?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-success" asp-controller="Goals" asp-action="Create">Set a Goal</a>
                </div>
            </div>
        </div>
    }
    @if (Model.Goal != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Current Goal</h4>
                    <h6>@Model.GoalProgressPercentage% Complete</h6>
                </div>
                <div class="col-sm-6">
                    <div class="progress" style="height: 35px">
                        <div class="progress-bar @Model.ProgressColor" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@Model.GoalProgressPercentage" style="@($"width: {Model.GoalProgressPercentage}%")"></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>@Model.GoalProgressMinutes of @Model.Goal.Target mins</div>
                    <div>by @Html.DisplayFor(m => Model.Goal.EndDate)</div>
                </div>
            </div>
        </div>
    }

    <hr />

    <div>
        <h3>
            You have been active for @Model.CurrentWeeklyTotal minutes this week
        </h3>
    </div>

    <hr />

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Exercises" asp-action="Create">Log New Activity</a>
    </div>

</div>
