@model FitnessTracker.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Fitness Tracker</h1>

    <hr />

    @{

        //GOAL SECTION

        if (Model.MostRecentGoal == null)
        {
            //if no goals in history
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>You currently have no goal set. Would you like to make one?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-success" asp-controller="Goals" asp-action="Create">Set a Goal</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    @*Most Recent Goal*@
                    <div class="col-sm-3">
                        <h4>Current Goal</h4>
                        <h6>@Model.MostRecentGoal.Target minutes from<br />@Html.DisplayFor(m => Model.MostRecentGoal.StartDate) to @Html.DisplayFor(m => Model.MostRecentGoal.EndDate)</h6>
                    </div>
                    @*Progress bar*@
                    <div class="col-sm-6">
                        <br />
                        <div class="progress" style="height: 35px">
                            <div class="progress-bar @Model.ProgressColor" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@Model.GoalProgressPercentage" style="@($"width: {Model.GoalProgressPercentage}%")"></div>
                        </div>
                        @* Goal Success? *@
                        @{
                            if (Model.MostRecentGoal.IsDone(Model.GoalExercises))
                            {
                                <div class="container">
                                    @{
                                        if (Model.MostRecentGoal.TargetWasMet(Model.GoalExercises))
                                        {
                                            <div class="row">
                                                <div class="col">
                                                    <h5>Congratulations, you finished your goal!</h5>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col">
                                                    <h5>You didn't quite finish your goal. Try again!</h5>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div class="row">
                                        <div class="col">
                                            <a class="btn btn-success" asp-controller="Goals" asp-action="Create">Set New Goal</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @*Progress Summary*@
                    <div class="col-sm-3">
                        <h4>@Model.GoalProgressPercentage% Complete</h4>
                        <h5>@Model.GoalProgressMinutes of @Model.MostRecentGoal.Target mins</h5>
                    </div>
                </div>
            </div>
        }
    }

    <br /><br />

    @* WEEKLY TOTAL *@

    <div>
        @{
            if (Model.CurrentWeeklyTotal == 0)
            {
                <h3>You haven't logged any activity yet this week.</h3>
            }
            else
            {


                <h3>
                    You have been active for @Model.CurrentWeeklyTotal minutes this week
                </h3>
            }
        }
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Exercises" asp-action="Create">Log New Activity</a>
    </div>

    <br /><br />
    @* MOST RECENT ACTIVITY *@

    <div>
        <h3>
            Most Recent Activity
        </h3>
    </div>
    @{
        if (Model.RecentExercises.Count == 0)
        {
            <hr />
            <h4>You don't have any activities logged yet.</h4>
        }
        else
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Activity
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Enjoyment Level
                        </th>
                        <th>
                            Exertion Level
                        </th>
                        <th>
                            Comments
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RecentExercises)
                    {
                        if (item.Comments == null)
                        { item.Comments = "(none)"; }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateLogged)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExerciseType.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration) mins
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnjoymentLevel.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExertionLevel.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td>
                                <a asp-controller="Exercises" asp-action="Details" asp-route-id="@item.ExerciseId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
