@model FitnessTracker.Models.ApplicationUser

@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>
<br />

<div class="container">
    <div class="row">
        <h4>Activities</h4>
        <a class="btn btn-link btn-sm" asp-action="Create" asp-controller="ExerciseTypes">Add Activity</a>
    </div>

    @if (Model.ExerciseTypes != null)
    {
        if (Model.ExerciseTypes.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Activity Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ExerciseType type in Model.ExerciseTypes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(exType => type.Type)
                            </td>
                            <td>
                                <a asp-controller="ExerciseTypes" asp-action="Edit" asp-route-id="@type.ExerciseTypeId">Edit</a> | <a asp-controller="ExerciseTypes" asp-action="Delete" asp-route-id="@type.ExerciseTypeId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <hr />
            <h5>You don't have any activity types yet.</h5>
            <hr />
        }
    }

    <div class="row">
        <h4>Locations</h4>
        <a class="btn btn-link btn-sm" asp-action="Create" asp-controller="Locations">Add Location</a>
    </div>

    @if (Model.Locations != null)
    {
        if (Model.Locations.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Location Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Location location in Model.Locations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(l => location.Name)
                            </td>
                            <td>
                                <a asp-controller="Locations" asp-action="Edit" asp-route-id="@location.LocationId">Edit</a> | <a asp-controller="Locations" asp-action="Delete" asp-route-id="@location.LocationId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <hr />
            <h5>You don't have any locations yet.</h5>
            <hr />
        }
    }

    <div class="row">
        <h4>Goals</h4>
    </div>

    @if (Model.Goals != null)
    {
        if (Model.Goals.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Dates
                        </th>
                        <th>
                            Target Amount of Activity
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Goal goal in Model.Goals)
                    {
                        <tr>
                            <td>
                                @goal.StartDate - @goal.EndDate
                            </td>
                            <td>
                                @Html.DisplayFor(g => goal.Target)
                            </td>
                            <td>
                                <a asp-controller="Goals" asp-action="Edit" asp-route-id="@goal.GoalId">Edit</a> | <a asp-controller="Goals" asp-action="Delete" asp-route-id="@goal.GoalId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <hr />
            <h6>You don't have any goals set yet.</h6>
            <hr />
        }
    }
</div>
